@font-face {
  font-family: 'questknight';
  src: url("font/questknight.ttf");
}

* {
  margin:0;
  padding:0;
  font-family: "helvetica";
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  z-index: -1;
  opacity: 0.5;
  background-image: url('./images/kanyegiph.gif');

}

h1, h2 {
  padding: 2vh;
  color: black;
  font-family: 'questknight';
  font-size: 5rem;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  letter-spacing: 5px;
}

h2 {
  font-size: 3rem;
  padding-bottom: 4vh;
  display: flex;
  align-items: center;
}

.heading {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
}
.heading p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.form {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40vw;
}

.form__inputfield {
  display: flex;
  width: 80%;
  height: 5vh;
  margin-right: 2%;
  font-size: 1.5rem;
}

.form__submitbutton {
  cursor: pointer;
  background: url('./images/kanyeFace.png');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  height: 5vw;
  width: 5vw;
  margin-right: -5vw;
  border-radius: 100%;
  border: solid 2px black;
  -webkit-box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
  -moz-box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
  box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
}

.display {
  display: flex;
  flex-wrap: wrap;
}

.loadingImg {
  width: 100px;
  height: 100px;
  display: none;
}

.loading {
  display: block;
}

.iframe , .lyric-container{
  height: 50vh;
  width: 45vw;
}

.lyric-container {
  display:flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.75);
  overflow: scroll;
}

@media only screen and (max-width: 746px) {
  .display {
    justify-content: center;
  }
  .lyric-container , .iframe, .imgheader  {
    width: 90vw;
    margin-bottom: 3vh;
  }
  .form__submitbutton{
    height: 12vw;
width: 12vw;

  }
  .heading {
    padding: 5vh;
    padding-bottom: 0vh;
  }
  .heading p {
    padding-left: 2vh;
  }
  h1 {
    font-size: 3rem;
  }
  body:after{
    height: 180%;
  }
  .form {
    height: 10vh;
  }
}
