@font-face {
  font-family: 'questknight';
  src: url("font/questknight.ttf");
}

* {
  margin:0;
  padding:0;
  font-family: "helvetica";
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/kanyegiph.gif');
}

h1, h2 {
  padding: 2vh;
  color: black;
  font-family: 'questknight';
  font-size: 5rem;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

h2 {
  font-size: 3rem;
  padding-bottom: 4vh;
  display: flex;
  align-items: center;
}


.heading {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
}

.imgheader {
  padding-top: 5vh;
  width: 40vw;
}

.form {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40vw;
}

.form__inputfield {
  display: flex;
  width: 80%;
  height: 5vh;
  margin-right: 2%;
}

.form__submitbutton {
  cursor: pointer;
  background: url('./images/kanyeFace.png');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  height: 5vw;
  width: 5vw;
  margin-right: -5vw;
  border-radius: 100%;
  border: solid 2px black;
  -webkit-box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
  -moz-box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
  box-shadow: -13px -23px 153px 0px rgba(247,242,247,1);
}

.display {
  display: flex;
  flex-wrap: wrap;
}

.iframe {
  height: 50vh;
  width: 45vw;
}

.lyrics {
  height: 50vh;
  overflow: scroll;
  padding-left: 1vw;
  box-sizing: border-box;
}

.lyric-container {
  width: 45vw;
  display:flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.75);
}
