* {
  margin:0;
  padding:0;
  font-family: "helvetica";
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/kanyegiph.gif');
}

h1 {
  padding: 2vh;
}

h2 {
  font-size: 3rem;
  padding-bottom: 4vh;
  display: flex;
  align-items: center;
}


.heading {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh;
}

.imgheader {
  padding-top: 5vh;
  width: 40vw;
}

.form {
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
}

.form__inputfield {
  display: flex;
  width: 80%;
  height: 5vh;
  margin-right: -5vw;
}

.form__submitbutton {
  border: none;
  background: url('./images/kanyeFace.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 20vh;
  width: 20vw;
  margin-right: -5vw;
}

.display {
  display: flex;
  flex-wrap: wrap;
}

.iframe {
  height: 50vh;
  width: 45vw;
}

.lyrics {
  height: 50vh;
  overflow: scroll;
  padding-left: 1vw;
  box-sizing: border-box;
}

.lyric-container {
  width: 45vw;
  display:flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.75);
}
